@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&family=Hubballi&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Fredoka, Arial, Helvetica, sans-serif;
}

header {
    padding: 1rem;
    background-image: linear-gradient(89.8deg,rgba(222,74,74,1) 4.7%,rgba(30,29,29,1) 120.3% );
}

header h1{
    color: #fff;
    font-size: 2rem;
    text-align: center;
    text-shadow: 10px 0px 5px rgb(45, 45, 45);
}

main{
    margin: 0 10rem 0 10rem;
}

section#cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5rem;
}

section#cards div.card{
    width: 10rem;
    box-shadow: 10px 5px 5px 5px #00000020;
    padding: 1.5rem;
    border-radius: 15px;
    background-color: rgb(248, 248, 248);
    margin-top: 2rem;
}

section#cards div.card img{
    width: 100%;
}

section#cards div.card h2{
    margin-bottom: 1rem
}

section#cards div.card p.descricao{
    margin-bottom: 1rem
}

section#cadastro{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem;
}

section#cadastro h2{
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
}

section#cadastro form{
    width: 50%;
}

section#cadastro form input{
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
    border: solid 2px #ccc;
    margin: 0rem 0.6rem 0.6rem 0rem
}

section#cadastro form label{
    color: rgb(85, 85, 85);
}

section#cadastro form button{
    padding: 0.6rem;
    width: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #fff;
    border: solid 1px rgb(194, 83, 83);
    color: rgb(194, 83, 83);
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}

section#cadastro form button:hover{
    background-color: rgb(194, 83, 83);
    color: #fff;
}
